# Ignore downloaded dependencies
be/node_modules/

# Ignore shots folder
be/src/public/shots/

# Ignore test reports
be/tests/reports

# Ignore stryker temp folder
be/.stryker-tmp

# Ignore database data
pgdata

# Ignore log files
*.log

# Ignore .env file
.env