.Comparison-Cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner-border{
    height: 15vmin;
    width: 15vmin;
    color:  #ff9853;
}

.centered {
    position: fixed; /* or absolute */
    top: 40%;
    left: 40%;
    text-align: center;
}

.centered h2{
    padding-top: 2rem;
}

.ant-pagination{
    padding-bottom: 2em!important;
}

.ant-select-selector, .ant-pagination-options{
    display: none!important;
}