
.Comparison-Component{
    width: 70%;
    margin: 3em;
    border-style: solid;
    border-color:  #ff9853;
}

.Component-Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ff9853;
    color: white!important;
    margin: 0;
    padding: 0.5rem;
}

.Component-Header h2{
    margin: 0;
    color: white!important;
}

div.card-header {
    background-color: white!important;
}

button.btn.btn-link {
    color: #ff9853;
    font-weight: bold;
}

.Comparison-Content{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.5em;
    align-items: center;
}

.Arrow{
    height: 5vmin;
}

.View-images {
    height: 50vmin;
    width: 50vmin;
}

.TimeStamp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.TimeStamp h3{
    font-size: small;
}
.btn-primary{
      background-color: #ff9853;
        border: 2px solid white;
        color: white;
        padding: 10px 24px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        display: flex;
        justify-content: 'center';
        align-items: 'center';
}

.btn-primary:hover {
    background-color: white;
    border-color: #ff9853;
    color: #ff9853;
}

.btn-primary:active {
    background-color: #ff9853;
    border-color: white;
    color: white;
}

.btn-primary:focus {
    background-color: #ff9853;
    border-color: white;
    color: white;
    box-shadow: none;
    text-decoration: underline;
}

.loneImage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: scroll;
    height: 50vmin;

}

td.delete{
    background-color: #FF6776;
}

td.replace{
    background-color: #FFFFB1;
}

td.insert{
    background-color: #77dd77;
}

th{
    padding-left: 0.5rem;
}

.Content1 , .Content2{
    overflow: auto;
    height: 50vmax;
    width: 50%;
}

.Content2 .diff tbody tr th:first-of-type, .Content2  .diff tbody tr td:first-of-type, .Content2 .diff thead th:nth-child(-n+2){
    display: none;
}

.Content1 .diff tbody tr th:last-of-type, .Content1 .diff tbody tr td:last-of-type, .Content1 .diff thead th:nth-last-child(-n+2){
    display: none;
}


.Content2 .diff tbody tr th:last-of-type, .Content1 .diff tbody tr th:first-of-type{
    color: #ffba8c;
}

.Content2 .diff thead th:nth-last-child(-n+2), .Content1 .diff thead th:nth-child(-n+2){
    color: orange;
    font-weight: bold;
    font-size: large;
}

.Spinner-Comparison{
    
}