/* codepen */

.link {
    $c: &;

    border: solid #ff9853;
    border-radius: 5px;

    width: 50em;
    min-height: 3em;

    margin-top: 1em;
    margin-bottom: 1em;

    .checkbox {
        --background: #fff;
        --border: #D1D6EE;
        --border-hover: #BBC1E1;
        --border-active: #0a0706;
        --tick: #fff;
        position: relative;

        margin: 0.5em;

        input,
        svg {
            width: 21px;
            height: 21px;
            display: block;
        }
        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            position: relative;
            outline: none;
            background: var(--background);
            border: none;
            margin: 0;
            padding: 0;
            cursor: pointer;
            border-radius: 4px;
            transition: box-shadow .3s;
            box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
            &:hover {
                --s: 2px;
                --b: var(--border-hover);
            }
            &:checked {
                --b: var(--border-active);
            }
            margin-right: 1em;
        }
        svg {
            pointer-events: none;
            fill: none;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: var(--stroke, var(--border-active));
            position: absolute;
            top: 0;
            left: 0;
            width: 21px;
            height: 21px;
            transform: scale(var(--scale, 1)) translateZ(0);
        }
        &.path {
            input {
                &:checked {
                    --s: 2px;
                    transition-delay: .4s;
                    & + svg {
                        --a: 16.1 86.12;
                        --o: 102.22;
                    }

                    

                }
            }
            svg {
                stroke-dasharray: var(--a, 86.12);
                stroke-dashoffset: var(--o, 86.12);
                transition: stroke-dasharray .6s, stroke-dashoffset .6s;
            }
        }
    }
}

.background-orange-fade {
    background-color: #ff9853;
}

.background-orange {
    background-color: #ff9853c0;
}

.full-url-box {
    background-color: #f6f99e;
    word-wrap: break-word;
    width: 40em;
}
