/* header */

header h1, header p {
    text-align: center;
    margin-top: 1em;
}

header h1 {
    font-size: 55px;
}

header p {
    font-size: 20px;
}

/* buttons */

button {
    
    border-radius: 5px;
    border: none;

    background-color: #ff9853;
    color: white;

}

input[type="text"] {
    width: 40em;
}

textarea {
    width: 40em;
    height: 100%;
}

.next-to-input-button {
    width: 3rem;
    height: inherit; 
}

.selection-buttons button {
    margin: 0em 0.5em;
}

.submit-file-options, .submit-file-question {
    margin: 0em 0.75em;
}

.submit-file-options:hover {
    cursor: pointer;
}

.submit-file-options#yes-submit:hover {
    color: #00FF00;
}

.submit-file-options#no-submit:hover {
    color: red;
}

/* main section */ 

.container {
    margin-left: 10em;
    margin-top: 5em;
}

.main-section .left-side {
    margin-bottom: 2em;
}

.left-side {
    text-align: left;
}

.left-side .under-input-text {
    padding-left: 0.3em;
}

.right-side {
    text-align: center;
    margin-top: 6em;
}

.right-side p {
    font-size: 30px;
}

.right-side button {
    font-size: 25px;
}

/* URL list */

.link-hide {
    display: none;
}

.iframe-hide {
    visibility: hidden;
}

.url-link.link {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    border: 0;
}

.url-elements.link {
    margin: 0;
    width: 100%;
    border-bottom: 0em;
    border-left: 0em;
    border-right: 0em;
    border-radius: 0em;
}

.checkbox-label {
    float: left;
}

.expand-button {
    float: right;
    font-size: 100%;
    font-weight: bold;
    margin: 0.5em;
}

.html-render {
    width: 100%;
    height: 20em;
}

.iframe-div {
    position: relative;
}

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate3D(-50%, -50%, 0);
}

/* colors - maybe should be written in another file */

.orange-text {
    color: #ff9853;
}

.orange-text:hover {
    cursor: pointer; 
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* URL element selector list */

.element-manager {
    border: 4px solid black;
    background-color: white;
    padding: 1em;
}

.input-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.input-holder input {
    width: 90%;
}

.input-holder button {
    width: 10%;
}

.element-list {
    margin-top: 1em;
}

.element-selector-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5em;
    align-items: center;
}

.element-selector-holder button {
    background-color: white;
}

.element-selector-holder img {
    max-width: 2em;
    max-height: 2em;
}

.element-selector-holder img:hover {
    cursor: pointer;
}

.element-selector-holder p {
    margin: 0;
    font-size: 1.5em;
}